extends ../layouts/PageLayout.pug

block content
    div.links
        a.index-link(href="Signin.pug")
            = 'Страница авторизации'
        a.index-link(href="Login.pug")
            = 'Страница регистрации'
        a.index-link(href="404.pug")
            = 'Страница 404'
        a.index-link(href="500.pug")
            = 'Страница 500'
        a.index-link(href="Chats.pug")
            = 'Страница список чатов (просто заглушка)'
        a.index-link(href="NewPass.pug")
            = 'Страница нового пароля'
        a.index-link(href="UpdateProfile.pug")
            = 'Страница обновления профиля'
        a.index-link(href="NewAvatar.pug")
            = 'Страница изменения аватара'